<!-- home.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="logo-title">
      <ion-img src="../assets/icon/HireHub.jpg" class="LogoTitle"></ion-img>
    </ion-title>
  </ion-toolbar>
</ion-header>
 

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">HireHub</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Sign-up Form -->
  <div id="login-content">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Join HireHub Today</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input type="text" [(ngModel)]="username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>

        <ion-row class="ion-align-items-center ion-justify-content-center" style="padding-top: 10px;">
          <ion-col size="auto">
            <p>Sign in with:</p>
          </ion-col>
          <ion-col size="auto">
            <asl-google-signin-button type="icon" size="large" shape="circle" logo_alignment='center'></asl-google-signin-button>
          </ion-col>
          <ion-col size="auto">
            <img src="../assets/icon/facebook-icon.png" (click)="signInWithFacebook()" class="facebook-icon-button">
          </ion-col>
        </ion-row>
        
        <ion-row *ngIf="user" class="ion-align-items-center ion-justify-content-center">
          <p>Logged in as {{ user.email }}</p>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button color="custom" expand="full" (click)="createAccount()">Create Account</ion-button>
          </ion-col>
          <ion-col>
            <ion-button color="custom" expand="full" (click)="signIn()">Sign In</ion-button>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-checkbox>Keep me signed in</ion-checkbox>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <p>Forgot your password?</p>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
